.dashboard {
  background-image: url("/dashboard.svg");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  padding-left: 120px; 
}

.dashboard h1 {
  color: #4CAF50;
  font-family: 'Crimson Text', serif;
  font-size: 96px; /* Set the font size */
  font-weight: 700; /* Set the font weight to bold */
  height: 100px; 
  margin-top: -200px; /* Adjust the margin to position the button */
}

.dashboard h2 {
  color: #4CAF50; 
  margin-top: 10px; 
  font-family: 'Crimson Text', serif;
  font-size: 45px;
  font-weight: 500;
  width: 500px;
  height: 150px;
}

.start-button {
  margin-top: 20px; /* Adjust the margin to position the button */
  padding: 10px 20px; /* Add padding to the button */
  background-color: #4CAF50; /* Set the background color of the button */
  color: white; /* Set the text color of the button */
  text-decoration: none; /* Remove underline from the link */
  font-family: 'Crimson Text', serif; /* Set the font family */
  font-size: 60px; /* Set the font size */
  border-radius: 5px; /* Add rounded corners to the button */
  transition: background-color 0.3s; /* Add a transition effect */
}

.start-button:hover {
  background-color: #000000; /* Change the background color on hover */
}