################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/frontend/doc_2025-03-13_22-44-25.env.local
/.vs
